extends ../layouts/layout.pug

block content
    h2 Curriculum Vitae
    h3 Professional work experience
    div.occupation
        em Software Engineer
        p 
            a(href="https://pynter.nl" target="_blank") Pynter
            |  (2018–present)
    section
        h3 Education
        div.occupation
            em Master's Degree, Artificial Intelligence
            p.comment Specialization: Multi-Agent Systems
            p 
                a(href="https://www.rug.nl/masters/artificial-intelligence/" target="_blank") University of Groningen
                |  (2021–present)
        div.occupation
            em Bachelor's Degree, Artificial Intelligence
            p 
                a(href="https://www.rug.nl/bachelors/artificial-intelligence/" target="_blank") University of Groningen
                |  (2014, 2017–2021)
        div.occupation
            em Pre-university Education (VWO)
            p.comment Specialized component: Science and Health
            p 
                a(href="https://www.government.nl/topics/secondary-education/different-types-of-secondary-education/senior-general-secondary-education-havo-and-pre-university-education-vwo" target="_blank") Marnix College Ede
                |  (2007–2014)
    section
        h3 Certificates
        div.occupation
            em M14 English Language and Literature
            p 
                a(href="https://www.ibo.org/programmes/diploma-programme/curriculum/language-and-literature/language-a-language-and-literature-slhl/" target="_blank") International Baccalaureate
                |  (2012–2014)
    section
        h3 Skills
        p Fluent in Dutch and English. Can understand basic German and French as well.
        h4 Programming
        h5 Languages
        h6.label Skilled
        ul.inline
            li C#
            li SQL
            li JS/TS
            li HTML
            li (S)CSS
            li Python
            li Elm
            li LaTeX
            li PowerShell
        h6.label Some experience
        ul.inline
            li C
            li C++
            li Java
            li Prolog
            li Haskell
        h6.label Want to learn/Interested in
        ul.inline
            li Go
            li Rust
            li A language on the BEAM VM
            li F#
        h5 Frameworks, libraries and tools
        ul.dashed
            li ASP.NET
                p.comment Framework/Core
            li Entity Framework Core
                p.comment ORM
            li NodeJS front end tooling 
                p.comment Webpack/Snowpack/Gulp/&hellip;
            li Azure DevOps
                p.comment Version control, CI/CD
            li GitHub
                p.comment Version control, CI/CD
            li Git
            li Adobe Suite
                p.comment In order of most to least experience: Photoshop, InDesign, Illustrator, Premiere Pro
    section
        h3 Volunteer work
        div.occupation
            em Financial Commissioner of the Board
            p 
                a(href="https://www.cleopatra-groningen.nl/over/bestuur/bestuur-kairos-20162017" target="_blank") Cleopatra A.S.G.
                |  (2016–2017)
        div.occupation
            em Various committees
            p.comment 
                | Including the financial audit committee, board selection committee and IT committee (among others). 
                | Functions included chair, secretary, designer and general board member.
            p 
                a(href="https://www.cleopatra-groningen.nl/over/bestuur/bestuur-kairos-20162017" target="_blank") Cleopatra A.S.G.
                |  (between 2014–2020)