doctype html
html(lang="en")
    head
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#ffd932')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/index.css")
        title Ramon Meffert
    body
        div.container
            div.content-wrapper
                header
                    a(href="/" title="Go back to the homepage").title Ramon Meffert
                main
                    block content
            footer 
                | The source code for this website is available on 
                a(href="https://github.com/RamonMeffert/ramonmeffert.github.io" target="_blank" title="Open GitHub in a new tab") GitHub
                |  :)