extends _layouts/layout.pug

block content
    section
        h2 Currently
        div.activity
            p 
                a(href="https://www.rug.nl/masters/artificial-intelligence/" target="_blank") University of Groningen
                |  (2021—)
            p Master's Degree, Artificial Intelligence 
            p Specialization: Multi-Agent Systems
        div.activity
            p 
                a(href="https://pynter.nl" target="_blank") Pynter Blended Learning
                |  (2018—)
            p Senior Software Engineer
        nav#internal-links
            a(href="cv").internal-link Curriculum Vitae
    section
        h2 Links
        ul.links
            li 
                a(href="https://github.com/RamonMeffert", target="_blank") GitHub
            li 
                a(href="https://www.linkedin.com/in/ramonmeffert/", target="_blank") LinkedIn
