extends layouts/layout.pug

block content
    section
        h2 Currently
        div.occupation
            em Master's Degree, Artificial Intelligence
            p 
                a(href="https://www.rug.nl/masters/artificial-intelligence/" target="_blank") University of Groningen
                |  (2021–present)
        div.occupation
            em Software Engineer
            p 
                a(href="https://pynter.nl" target="_blank") Pynter
                |  (2018–present)
    section
        h2 Links
        ul.links
            li
                div.label résumé
                a(href="cv") Curriculum Vitae
            li 

                div.label github
                a(href="https://github.com/RamonMeffert", target="_blank") RamonMeffert
            li
                div.label email
                | ramon@
                span(aria-hidden='true').spam OBFUSCATED
                | r3n.
                span(aria-hidden='true').spam OBFUSCATED
                | nl
