@use "node_modules/normalize.css/normalize.css";
@use "sass:color";
@use "fonts";

$primary-00: #0f1c18;
$primary-05: #182521;
$primary-10: #222f2b;
$primary-40: #646e6a;
$primary-70: #aeb3b1;
$secondary: #ffeada;

html {
    font-size: 25px; // Set size of rem
}

body {
    background-color: $primary-00;
    color: $primary-70;
    font-family: 'Silka', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.spam {
    display: none;
    visibility: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }

    &[href^=https]::after {
        content: "";
        display: inline-block;
        width: .8em;
        height: .8em;
        vertical-align: -8%;
        color: inherit;
        background-size: .8em;
        background-position-y: bottom;
        margin-left: 1ex;
        background-image: url(/images/external-link.svg);
    }
}

.container {
    width: 36rem;
    margin: 1.2rem auto;
    padding: 1.2rem 0;
    box-sizing: border-box;
    position: relative;

    // Background effect
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        border-color: $primary-05 transparent transparent $primary-05;
        border-style: solid;
        border-width: 18rem;
    }

    & > header {
        margin: 0 -1.2rem 1.2rem -1.2rem;
        display: flex;
        
        img {
            width: 12rem;
            height: 12rem;
            display: block;
            background-color: $primary-10;
            border: none;
            margin-right: 1.2rem;
        }

        h1 {
            color: $secondary;
            font-weight: 800;
            font-size: 3.6rem;
            line-height: 3.2rem;
            text-transform: uppercase;
            margin: 2.8rem 0;
        }
    }

    & > main {
        margin: 0 -1.2rem;

        section:not(:last-child) {
            margin-bottom: 1.2em;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 800;
        }

        h2, h3, h4, h5, h6 {
            font-weight: 800;
            margin: 0 0 .5rem 0;
        }

        .label {
            font-weight: normal;
            text-transform: uppercase;
            color: $primary-40;
            font-size: .6rem;
            margin-bottom: .2rem;
        }

        .occupation {
            margin-bottom: .5rem;

            em {
                font-style: normal;
                display: block;
                margin-bottom: .2rem;
            }
            
            p {
                color: $primary-40;
                font-style: italic;
                font-size: .8rem;
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: .2rem;
                }
            }
        
            p.comment {
                font-size: .6rem;
                line-height: .9rem;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            p.comment {
                font-size: .6rem;
                line-height: .9rem;
                margin-top: .2rem;
                margin-bottom: 0;
                color: $primary-40;
            }

            li {
                margin-bottom: .5rem;
            }

            &.inline {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                
                li {
                    margin-bottom: .2rem;

                    &:not(:last-of-type)::after {
                        content: ",";
                        margin-right: 1ex;
                    }
                }
            }

            &.dashed {
                li {
                    position: relative;
                    padding-left: 1.2rem;

                    &::before {
                        position: absolute;
                        left: 0;
                        content: "— ";
                    }
                }
            }
        }
    }

    & > footer {
        margin: 0 0 0 -1.2rem;
        font-size: .6rem;
        display: flex;
        color: $primary-40;

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: .5rem 0 0 0;
            border-top: 2px solid $primary-40;

            li:not(:last-of-type)::after {
                content: "·";
                margin: 0 1ex;
            }
        }
    }
}

// Anything that don't fit the desktop site
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        padding: 1rem;
        margin: 0;
        overflow-x: hidden;

        &::before {
            border-width: 10rem;
        }

        & > header {
            margin: 0 0 1rem 0;
            display: flex;
            align-items: center;

            img {
                min-width: calc(max(3rem, 18vw));
                min-height: calc(max(3rem, 18vw));
                width: calc(max(3rem, 18vw));
                height: calc(max(3rem, 18vw));
            }

            h1 {
                font-size: calc(max(1.8rem, 8vw));
                line-height: calc(max(1.5rem, 7.5vw));
                margin: 0;
            } 
        }

        & > main {
            margin: 0;
        }

        & > footer {
            margin: 0;

            ul {
                flex-direction: column;

                li:not(:last-of-type) {
                    margin-bottom: .2rem;

                    &::after {
                        content: unset;
                        display: block;
                    }
                }
            }
        }
    }
}